ul li{
    text-decoration: none;
    color: brown;
}

.navbar ul li{
    list-style: none;
    margin: 0 25px 0 0;
    transition: all 0.3s ease-in-out;
    font-family: Tahoma;
}

.navbar li{
    display: inline-block;
}

.navbar ul{
    float: right;
}

.navbar ul li a:hover{
    color: white;
}